*{
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    background-color:#282829;
}

.bodyColor{
    background-color: rgb(234, 230, 230);
}
.bodyColor h3{
    color: #1D1D1E;
}
.bodyColor h1{
    color: #1D1D1E;
}

.bodyColor p{
    color: #1D1D1E;
}
.bodyColor strong{
    color: #1D1D1E;
}
.bodyColor path{
    stroke: #1D1D1E;
}
.nav-links{
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 50px;
    grid-template-columns: repeat(2, max-content);
    font-family: 'Quicksand', sans-serif;

}

ul{
    margin: auto;
    grid-column: -2/-3;
    grid-row: 1/2;
    display: flex;
    margin: 0;
}
.nav-items{
    margin: 10px 10px;
}

a{
    margin: 0 10px;
    color: white;
    font-size: 20px;
}

.input{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

input{
    height: 4vh;
    min-width: 15vw;
    border-radius: 5px;
    background: transparent;
    border: solid 1px white;
    color: white;
    font-size: 0.8em;
    padding: 15px 15px;
    outline: none;
    margin: 0 10px;
}


.btn {
    margin: auto;
    height: 4.5vh;
    background-color: skyblue;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    font-family: 'Quicksand', sans-serif;
    padding: 0px 10px;
    cursor: pointer;
}

.btn:hover{
filter: brightness(120%);
color: #1D1D1E;
transition: all 0.3s linear;
}


/*AQUI EMPIEZA LOS ESTILOS DE LA PARTE DEL HOME */
.container{
    margin: 0 auto;
    width: 90%;
    max-width: 1280px;
    overflow: hidden;
}
.nav-logo{
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    z-index: 1;
    cursor: pointer;
}
.nav-logoColor{
    color: #1D1D1E;
}

.hero{
    width: 100%;
    height: 12vh;
}

.nav {
    padding: 20px 0;
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: repeat(2, max-content);
}

.nav-burger,
    .nav-close{
        display: none;
    }




.main_container{
    max-width: 1200px;
    margin: 30px auto;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
    grid-template-rows: auto;
    row-gap: 20px;
    column-gap: 10px;
    padding: 0;
}

.poster{
    margin: auto;
    border-radius: 6px;
    width: 225px;
    height: 300px;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.poster:hover{
    filter: contrast(60%);
    opacity: 1;
}

.btns {
    display: grid;
    grid-template-columns: repeat(2, auto);
    place-content: center;
    gap: 30px;

}
.btns button{
    margin: auto;
    text-transform: uppercase;
    width: 80px;
    height: 4vh;
    background-color: rgb(103, 197, 234);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: .8em;
    font-family: 'Quicksand', sans-serif;
    padding: 0px 15px;
    filter: brightness(80%);
    cursor: pointer;
}

.btns button:hover{
    filter: brightness(100%);
    color:black;
    transition: all .3s linear;
    
}

.footer_container{
    width: auto;
    height: 10vh;
    margin-top: 50px;
    border-top: white 1px solid;
}

.footer_containerColor{
    width: auto;
    height: 10vh;
    margin-top: 50px;
    color: black;
    border-top: black 1px solid;
    
}

.copyright{
    font-size: 10px;
}
.containerOfBtnlight{
    margin: auto;
    max-width: 800px;
    display: flex;
    justify-content: end;
    align-items: center;
}
h3{
    font-size: 20px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}


.btn-light{
    margin: 0 50px;
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
}
.btn-light:focus {
    outline: none;
    box-shadow: none; 
  }


.day{
    width: 100%;
    height: 100%;
    filter:  invert(100%);
    cursor: pointer;
}

.dayColor{
    filter: invert(0%);
}

.day:hover{
    transition: all 0.1s linear;
    filter:  invert(42%) sepia(20%) saturate(1690%) hue-rotate(173deg) brightness(92%) contrast(90%);
}


 /* AQUI ESTAN LOS ESTILOS DE EL DIV QUE COTIENE EL TRAILER  */

.btnContainerClose{
    margin: auto;
    position: relative;
    max-width: 700px;
}

.pruebadeestilos{
    display: none;
    color: white;
    z-index: 0;
    max-width: 700px;
    margin: auto;
    height: auto;
    
   }
   .showMovieInfContainer{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 20px 20px;
   
   }

   .imgContainer{
    margin-top: 35px;
    width: 100%;
   }

   .imgContainer img{
    border-radius: 15px;
   }
   .infContainer{
    display: flex;
    flex-direction: column;
    justify-content: start;
    justify-items: start;
    font-family: 'Quicksand', sans-serif
   }

   .date{
    margin-right:15px;
   }

   .reviewContainer{
    width: 100%;
    margin: 10px auto;
    font-family: 'Quicksand', sans-serif
   }
   .reviewContainer strong{
    color: aqua;
   }

   .infContainer h1{
    margin: 10px 0;
    font-family: 'Montserrat', sans-serif;
    font-size:18px;
   }
   

   .trailerContainer{
    margin:  10px auto;
    width: 100%;
    height: 300px;
    border-radius: 20px;
    overflow: hidden;
   }
   .closeBtn{
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 40px;
    z-index: 10;
    display: none;
   }
@media screen and (max-width: 575px ){

.nav-burger, 
.nav-close {
    display: block;
    cursor: pointer;
    grid-column: -2/-1 ;
    grid-row: 1/2;
}
.nav-burger{
    z-index: 40;
}
.nav-burger img{
    margin: auto;
    z-index: 60;
    filter: brightness(0) invert(1);
    width: 30px;
    height: 30px;
}

.navBurgerColor{
    filter: invert(100%);
}

.show-burger{
    display: none;
}

.nav-close{
    display: none;
    z-index: 1;
    filter: brightness(0) invert(1);
}
.show-close{
    display: block;
}



.nav-links{
    background-color: #1D1D1E;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 0;
    display: grid;
    place-content: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 30px;
    gap: 20px;
    z-index: 10;
}
ul{
    display: grid;
    gap: 40px;
}
ul .nav-link:hover{
    background-color: aqua;
    width: 100vw;
}
input{
    height: 4vh;
    width: 50vw;
    border-radius: 5px;
    background: transparent;
    border: solid 1px white;
    color: white;
    font-size: 0.5em;
    padding: 15px 15px;
    outline:none;
}

h3{
    font-size: 18px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding: 10px 0;
    font-weight: 600;
}
.btn {
    height: 4vh;
    background-color: rgb(110, 202, 238);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: .5em;
    font-family: 'Quicksand', sans-serif;
    padding: 0px 15px;
    cursor: pointer;
}

.btn:hover{
filter: brightness(120%);
color: #1D1D1E;
transition: all 0.3s linear;
}

.nav-links{
    height: 0;
    overflow: hidden;
    transition: all 0.5s;
}

.show-links{
    height: 100vh;
}
.nav-link {
    text-decoration: none;
    color: white;
    font-family: 'Quicksand', sans-serif;

    
}
.subTittleColor{
    color: #1D1D1E;
}
}